$hero-color:#495e57;
$primary-color:#F4CE14;
$highlight-color:#EE9972;
$light-color:#EDEFEE;
$dark-color:#333333;
$light-pink:#FBDABB;

%display-title {
  font-family:'Markazi Text';
  font-size:64px;
  font-style: normal;
  font-weight: 500;
}

%sub-title {
  font-family:'Markai Text';
  font-size:40px;
  font-style: normal;
  font-weight: 400;
}

%lead-text {
  font-family:'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

%section-title {
  font-family:'Karla';
  font-size:16px;
  font-weight:800;
  font-style: normal;
  text-transform: uppercase;
}

%card-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

%paragraph-text {
  font-family: 'Karla';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #495E57;
}

%highlight-text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

body {
  background-color:#ffffff;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color:$primary-color;
}

/* ***************** */

/*Styling the navbar items */
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin:2rem;

  ul {
    flex:2;
    text-align: center;
    margin: auto;   
    li {
      flex: 1;
      display: inline-block;
      padding: 0.7rem;
      @extend %lead-text;
      color: #495E57;
      font-weight: 800;
      a{
        color:$hero-color;
      }
    }
  }
  img{
    width: 100%;
    flex:1;
    margin-right:1rem;
  }  
} 

/* ************* */

/* Styling the Hero section */
.hero-section {
  width:100%;
  background-color: $hero-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom:5rem;
  .about{
    flex:2.5;
    @extend %lead-text;
    margin: 1rem 2rem 2rem 5rem;

    h1{
      @extend %display-title;
      color: $primary-color;
    }
    h2{
      @extend %sub-title;
      color: $light-color;
    }
    p{
      @extend %lead-text;
      margin-top: 2rem;
      margin-bottom: 2rem;
      width:50%;
    }
  }
  img{
    flex:1;
    position: relative;
    z-index: 100;
    top:15vh;
    margin-right: 2rem;
    object-fit: cover;
    border-radius: 8px;
  }
  
}

/* ************* */

/* Styling the Specials section */
.highlights-block{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.specials-top{
  button{
    float: right;
    margin-right: 5rem;
  }
  h2{
    display: inline;
    @extend %section-title;
  }
}

.specials-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 2rem;
  .card{
    flex:1;
    min-width: 200px;
    background-color: $light-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    @extend %paragraph-text;
    .card-header{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap:2rem;
      margin: 0.5rem;
      h3{
        @extend %card-title;        
        color: #000;        
      }
      .price{
        color:$highlight-color;
      }
    }    
    img{
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      object-fit: fit;
      text-align: center;

    }
    .card-body{
      height: 150px;
      margin: 0.5rem;
      overflow: auto;
    }
  }
}


/* Styling the customer section */
.user-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: $light-color;
  .user-profile{
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    img{
      display: inline;
      flex :1;
      object-fit: fit;
      width: 100%;
    }
    button{
      flex:1;
    }
  }
  .user-review{
    flex: 1;
    width: 260px;
    margin: 2rem;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap:0.3rem;
    h3{
      flex:1.5;      
    }
    ul{
      flex: 1;
    }
    li{
      display: inline-block;
      cursor: pointer;
      .un-check{
        color:#bfc0bf;
      }
      .checked{
        color: gold;
      }
    }
  }
  form{
    flex:1;
    text-align: center;
    margin-bottom: 2rem;
    width:40%;
    textarea{
      border-radius: 8px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      margin-bottom: 1rem;
      box-sizing: 100%;
      width: 100%;
      height: 150px;
    }    
  }
  
}

/* **************** */

/* Styling chicago section */

.chicago{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom:2rem;
  gap: 1rem;
  .about{
    flex:2;
    @extend %lead-text;
    margin: 1rem 0rem 1rem 2rem;

    h1{
      @extend %display-title;
      color:$primary-color;
    }
    h2{
      @extend %sub-title;
      color: $hero-color;
    }
    p{
      @extend %lead-text;
      color: $hero-color;
      margin-top: 2rem;
      margin-bottom: 2rem;
      width:50%;
    }
  }
  .chefs-img{
    flex:1;
    margin-right: 2rem;
    margin-top:2rem;
    object-fit: fit;
    width: 100%;
  }
}


/* ***************** */

/* Styling the footer of the page */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background-color: $hero-color;
  padding: 1rem;
}

footer {
  padding: 2rem;
  section{
    flex: 1;
    color:$light-color;
    line-height: 30px;
    @extend %highlight-text;
    a{
      color: $light-color;
    }
  }
}

.footer-nav{
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  flex: 1;
}
/******************/

/*  Styling Booking page */

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $hero-color;
  padding: 1rem;
  header{
    margin-left: 6rem;
    max-width: fit-content;
    h1{
      @extend %display-title;
      color: $primary-color;
    }
    h2{
      @extend %sub-title;
      color: $light-color;
    }
  }
  .page-hero{
    text-align: center;
    h3{
      @extend %section-title;
      color: $light-color;
      text-align: center;
    }
      .hero-imgs{
        max-width: 100%;        
        img{
          margin: 0.5rem;
          box-shadow: rgba(169, 168, 168, 0.642) 0px 2px 8px 0px;
          object-fit: fit;
        }
      }
    } 
    form{
      @extend %highlight-text;
      color:$light-pink;
      h3{
        margin-top:1rem;
        margin-bottom: 1rem;
      }
      span{
        margin-right: 3rem;
      }
      input[type="radio"] {
        width:15px;
        height: 15px;
        accent-color: black;
        cursor: pointer;
      }
      input[type='radio']:checked:after {
        border: 4.5px solid black;  
      }
      input[type="submit"]{
        margin-top: 1rem;        
      }
    }   
  }  


/***********************/

/* Styling the button */

button, input[type=submit] {
  background-color: #F4CE14;
  border-radius: 8px;
  border: 0px;
  color:#000000;
  //display: flex;
  text-align: center;
  flex:auto;
  //gap: 10px;
  box-sizing: 100%;
  padding: 0.5rem;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  @extend %card-title;  
  color: #000;
  disabled{
    border:black;
  }
}

button:hover{
  background-color: #495E57;
  color: #ffffff;
}

form{
  display: grid; 
  //max-width: 200px;   
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  @extend %highlight-text; 
  min-width: 200px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  input[type=text],input[type=date],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.confirm{
  display: grid;   
  max-width: 100%;
  margin: 2rem;
  padding: 1rem;
  @extend %highlight-text; 
  min-width: 200px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  line-height: 2rem;
  h3{
    color: $primary-color;
  }
  p{
    color: $hero-color;
  }
}

.error{
  
  @extend %highlight-text;
  color: $primary-color;
  margin-bottom: 1rem;
  margin-top:0.5rem;
}


